<%= form_tag choose_path do %>
  
<% @moviesearch.each do |x| %>
<p>  <%= x.title %> <%= x.year %> <%= radio_button_tag "title", x %></p>
<% end %>
<p> <%= label_tag 'rating' %>
<%= text_field_tag 'rating' %></p>
<%= text_field_tag 'year' %>
<p><%= submit_tag("Choose") %></p>
<% end %>
