<div id="errors">
<% if @movie && @movie.errors.any? %>
<ul><% @movie.errors.full_messages.each do |msg|  %>
<li><%= msg %></li>
<% end %></ul>
<% end %>
</div>

<h1> Edit Movie Info</h1>
<%= form_for @movie, method: "patch" do |f| -%>
<p><%= f.label :title, "Title" %><%= f.text_field :title %></p>
<p><%= f.label :year, "Year" %> <%= f.text_field :year %></p>
<p><%= f.label :rating, "My Rating" %> <%= f.text_field :rating %></p>
<p><%= f.label :director, "Director" %><%= f.text_field :director, value: @movie.director.name %></p>
<p><%= f.submit "Update", :disable_with => 'Updating...' %></p>
<% end %>
