<% if @movie && @movie.errors.any? %>
<div id="errors"><ul>
<% @movie.errors.full_messages.each do |msg|  %>
<li><%= msg %></li>
<% end %></ul>
</div>
<% end %>

<% if !session[:user_id].nil? && @user.name == "admin" %>
<%= form_for @movie do |f| -%>
<p>  <%= f.label :title, "Title" %><%= f.text_field :title %></p>
<p>  <%= f.label :year, "Year" %><%= f.text_field :year %></p>
<p>  <%= f.label :imdbID, "ImdbID" %><%= f.text_field :imdbID %></p>
<p>  <%= f.label :director, "Director" %><%= f.text_field :director %></p>
<p>  <%= f.submit "Submit", :disable_with => 'Submiting...' %></p>
<% end %>
<% end %>