<% if @movie && @movie.errors.any? %>
<div id="errors"><ul>
<% @movie.errors.full_messages.each do |msg|  %>
<li><%= msg %></li>
<% end %></ul>
<% elsif @opinion && @opinion.errors.any? %>
<% @opinion.errors.full_messages.each do |msg|  %>
<li><%= msg %></li>
<% end %></ul>
</div>
<% end %>

<%= form_tag movies_path do %>
<% @moviesearch.each do |movie_choice| %>
  <%= hidden_field_tag "title", movie_choice.title%>
  <%= hidden_field_tag "year", movie_choice.year%>
<p> 
  <%= movie_choice.title %> <%= movie_choice.year %> <%= radio_button_tag "imdbID", movie_choice.imdbID %></p>
<% end %>
<% if session[:user_id] != nil %>
  
<p><%= label_tag 'rating', 'Your Rating' %><%= text_field_tag 'rating' %></p>
<p><%= label_tag 'year_seen', 'Year Seen' %><%= text_field_tag 'year_seen' %></p>
<p><%= label_tag 'big_screen', 'Did you see it on the big screen?' %><%= check_box_tag 'big_screen' %></p>
<% end %>
<p><%= submit_tag("Choose") %></p>
<% end %>
