<div id="errors"><% if @movie && @movie.errors.any? %>
<ul><% @movie.errors.full_messages.each do |msg|  %>
<li><%= msg %></li>
<% end %>
<br></br></ul>
<% end %>
</div>


<%= form_tag movies_path do %>
  
<% @moviesearch.each do |movie_choice| %>
  <%= hidden_field_tag "title", movie_choice.title%>
    <%= hidden_field_tag "year", movie_choice.year%>

<p>  <%= movie_choice.title %> <%= movie_choice.year %> <%= radio_button_tag "imdbID", movie_choice.imdbID %></p>
<% end %>
<p> <%= label_tag 'rating' %>
<%= text_field_tag 'rating' %></p>
<p><%= submit_tag("Choose") %></p>
<% end %>
