<h1><%= @movie.title %></h1>
<p>Director: <%= link_to(@movie.director.name, director_path(@movie.director.id)) %></p>
<p>Released: <%= @movie.year %></p>
<% if @movie.link %>
<p><a href="<%= @movie.link %>">View On IMDb</a></p>
<% end %>
<% if session[:user_id].nil? %>

<% elsif @opinion %>
<p>My Rating: <%= @opinion.rating %></p> 
<p>First Seen: <%= @opinion.year_seen %></p> 
<p>Seen in theaters? <%= @opinion.big_screen %></p>
<% else %>
No Opinion - Yet
<% end %>

<%= link_to 'Edit Me', edit_movie_path(@movie) %>
<%= link_to 'Delete', @movie, method: :delete%>
