<h1><%= @movie.title %></h1>
<p>Director: <%= link_to(@movie.director.name, director_path(@movie.director.id)) %></p>
<p>Released: <%= @movie.year %></p>
<% if @movie.link %>
<p><a href="<%= @movie.link %>">View On IMDb</a></p>
<% end %>
<% if session[:user_id].nil? %>

<% elsif @opinion %>
<p>My Rating: <%= @opinion.rating %></p> 
<p>First Seen: <%= @opinion.year_seen %></p> 
<p>Seen in theaters? <% if @opinion.big_screen.nil? %>Nope
<% else %>Yep
  <% end %>
</p>
<% else %>
No Opinion - Yet
<% end %>
<div id="title2">All User Ratings</div>

<%= column_chart(@feelings)%>

<div id="container">
<div id="footer">
<p><%= button_to 'Edit Movie', edit_movie_path(@movie),:method => "get"  %></p>

<p><%= button_to 'Delete Movie', @movie, method: :delete, data: { confirm: 'Are you sure?' }%></p>
</div>
</div>
