<%= form_tag movies_path do %>
  
<% @moviesearch.each do |movie_choice| %>
<p>  <%= movie_choice.title %> <%= movie_choice.year %> <%= radio_button_tag "imdbID", movie_choice.imdbID %></p>

<% end %>
<p> <%= label_tag 'rating' %>
<%= text_field_tag 'rating' %></p>
<p><%= submit_tag("Choose") %></p>
<% end %>
