<% if @movie && @movie.errors.any? %>
<div id="errors"><ul><% @movie.errors.full_messages.each do |msg|  %>
<li><%= msg %></li><% end %></ul>
<% end %>
</div>

<h1> Find A Movie By Searching IMDb! </h1>

<%= form_for @choice do |f| -%>
  <p><%= f.label :Title, "Title" %><%= f.text_field :title %></p>
  <p><%= f.submit "Search", :name => 'Search' %></p>
<% end %>

<small>you will be given a list of options before you add to your notebook, since we know how common some titles are!</small>