<% if @movie && @movie.errors.any? %>
<div id="errors">
<ul><% @movie.errors.full_messages.each do |msg|  %>
<li><%= msg %></li>
<% end %></ul>
<% elsif @user_movie && @user_movie.errors.any? %>
<ul><% @user_movie.errors.full_messages.each do |msg|  %>
<li><%= msg %></li>
<% end %></ul>
<% end %>
</div>

<h1>Edit Movie Info</h1>
<%= form_for @movie, method: "patch" do |f| -%>
<p><%= f.label :title, "Title" %><%= f.text_field :title %></p>
<p><%= f.label :year, "Year" %> <%= f.text_field :year %></p>
<p><%= f.label :director, "Director" %><%= f.text_field :director, value: @movie.director.name %></p>
<p><%= f.submit "Update Movie", :name => 'Update Movie' %></p>
<% end %>
<% if session[:user_id] != nil %>
  
<h1>Edit Your Opinion</h1>
<%= form_tag user_movie_path, method: "patch" do %>
<p><%= label_tag 'rating', 'Your Rating' %><%= text_field_tag 'rating',  @opinion.rating %></p>
<p><%= label_tag 'year_seen', 'Year Seen' %><%= text_field_tag 'year_seen', @opinion.year_seen %></p>
<p><%= label_tag 'big_screen', 'Did you see it in theaters?' %><%= check_box_tag 'big_screen', 1 , @opinion.big_screen ? true : false  %></p>
<%= hidden_field_tag 'movie', @movie.id %>
<p><%= submit_tag("Update Opinion") %></p>
<% end %>
<% end %>
